@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.header{
    border-bottom: 20px;
    position: relative;
}


.header-items{
    display: flex;

    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.header-items img{
    width: 100px;
    height: auto;
    /*To prevent the horizotal sliding issue must set margin to 0*/
    margin: 0 0;
    transition: transform .2s ease;
}

.header-items img:hover{
    transform: scale(1.05);
}

.header-title{
    font-family: "Arial Black", sans-serif;
    font-size:8vmin;
    font-weight: bold;
    color: #19366b;

}

@media (max-width: 630px) {
    .header-title{
        display: none;
    }
    .header-items img{
        width: 80px;
    }
}


