@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.heading-of-intro{
    color: #d8031c;
    font-family: "Monotype Corsiva", sans-serif;
    font-size:6vmin;

}

.motto{
    text-align: center;
    font-size: 7vmin;
    color: #e31d24;
    text-shadow: -2px -2px 0 #4b38bf, 2px -2px 0 #4b38bf,-2px 2px 0 #4b38bf, 2px 2px 0 #4b38bf;
    font-family: "Titillium Web", sans-serif;

}

.intro-para{
    font-family: "Noto Sans", sans-serif;
    color: black;
    font-size: 4vmin;
}

.ending-of-intro{
    color: #19366b;
    font-family: "Monotype Corsiva", sans-serif;
    font-size:  6vmin;
}

.introbox{
    border:3px solid white;
    padding: 0.8rem;

    margin: 0.8rem 5% 4rem;

    border-radius: 1rem;

    border-color: #19366b;

    background-color: rgba(255,255,255,0.4);


}
