nav{
    position: sticky;
    top: 0;
    z-index: 99;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #19366b;
    padding: 0;
    width: 100%;
    text-align: center;
}

#navBar{
    position:sticky;
    top: 0;
    z-index: 100;
}

.nav-toggle-button{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    padding: 10px;
}

.dropdown-menu{
    position: absolute;
    right: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    background-color: rgba(90,121,165, 0.8);

    border-radius: 1rem ;
    width : 30%;

    z-index: 9;
    /*    This allows*/

    transition: max-height 0.3s ease;
}

.dropdown-menu.close{
    display: none;
    transition: max-height 0.3s ease;
}

.large-bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    gap: 90px;
}


.navBar-link{
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: none; /*It removes underline from the link*/
}

.nav-title{
    color: white;
    font-weight: bold;
    font-size: large;
    display: none;
}


@media (max-width: 780px){
    .large-bar{
        display: none;
    }
    .nav-toggle-button{
        display: block;
    }

}

@media (max-width: 630px){
    .nav-title{
        display:block;
    }
}