body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
}

.container{
    display: flex;
    max-width: 600px;
    width: 250px;
    margin: 1rem;
}

.parent-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container-with-text{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Imp ques:: How does applying overflow:hidden here differ from applying it on .images????*/
    overflow: hidden;

    width:100%;

}

.images{
    display: flex;
    /*overflow: hidden;*/
/*    Since we want any overflowed images from flexbox to be hidden */
}

button.next{
    transform: scaleX(-1);
}

button.prev,button.next{
    background-color: transparent;
    border: none;
}

.content {
    width: 100%;
    border-radius: 9px;
    flex-shrink: 0;
/*    Flex shrink is property of individual elements and not of the parent container*/
}

.image-container-with-text h3{
    margin: 0;
    padding: 0;
}

/*Z-index property added so that buttons remain in front */
.image-container-with-text{
    z-index: 1;
}

.button{
    z-index: 2;
}